# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
seal_box
open_box

# Debug files
*.dSYM/

# autotools
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autoscan.log
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
.deps/

# releases
build/
crypto_box-*.tar.gz
